<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Application</title>
    <style>
        input,label{
            display: block;
        }
    </style>
</head>
<body>
    <h2>New Application</h2>

    <form action="/application" method="post">

        <label for="company">Company: </label>
        <input type="text" name="company" id="company">

        <label for="position">Position: </label>
        <input type="text" name="position" id="position">

        <label for="status">Application Status:</label>
        <select name="status" id="status">
            <option value="select" disabled selected>Select application status</option>
            <% for(let dd of status ){ %>
                <option value="<%= dd %>"><%= dd %></option>
            <% } %>
        </select>

        <label for="appliedDate">Applied Date: </label>
        <input type="date" name="appliedDate" id="appliedDate">

        <label for="interviewDate">Interview Date (If there is any): </label>
        <input type="date" name="interviewDate" id="interviewDate">

        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes" cols="30" rows="10"></textarea>

        <button>Add a new application</button>
    </form>
</body>
</html>